:root {
    --content-width: 512px;
    --content-height: 512px;
}

.player-window {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-display {
    width: var(--content-width);
    height: var(--content-height);
}

.video-display {
    width: var(--content-width);
    height: var(--content-height);
}

.title-text {
    display: none
}

.ascii-button {
    margin: 1em;
}

pre {
    font-family: 'Courier New', 'monospace';
    margin: 1rem auto;
    font-size: 4px;
    line-height: 1;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    max-width: 617px;
}

#ascii {
    background-color: white;
    color: black;
    font-weight: 1000;
}