:root {  
    --content-width: 512px;
    --content-height: 512px;
}

.player-window {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-display {
    width: var(--content-width);
    height: var(--content-height);
}

.video-display {
    width: var(--content-width);
    height: var(--content-height);
}

.title-text {
    display: none
}